//MENU

.navbar {
    background-color: $color-brown;
    opacity: 0.8;
    button {
        background-color: $color-white;
    }
    .nav {
        a {
            font-size: 1.7rem;
            color: $color-white; 
        }
        a:hover {
            color: $color-white; 
        }    
    }    
}
