//HERO

.hero {
    @include flex;
    @include sizes(100%, 100vh);
    background-image: url('../img/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &__bg {
        @include sizes(100%, 100%);
        background-color: black;
        opacity: 0.8;
        position: relative;
        z-index: 0;
    }
    &__titles {
        @include flex;
        flex-direction: column;
        color: $color-white;
        position: absolute;  
        z-index: 1;
        h1 {
            font-size: 10rem;
            font-weight: lighter;
            margin-bottom: 0.5rem;
            font-family: $font-special;
            text-align: center;
        } 
        p {
            font-size: 3.2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero__titles {
        h1 {
            font-size: 8rem;
        }
        p {
            font-size: 2.75rem;
        } 
    }    
}

@media screen and (max-width: 576px) {
    .hero__titles {
        h1 {
            font-size: 6rem;
        }   
        p {
            font-size: 2.5rem;
        }  
    }    
}