.tv {
    @include sizes(100%, auto);
    background-color: $color-brown;
    padding: 2rem 2rem 6rem 2rem;
    &__box {
        @include flex;
        flex-direction: column;
        hr {
            border: 2px double $color-white;
            margin: 3rem 0;
            width: 50%;
        }
        &__images {
            @include grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            .img-contain {
                object-fit: cover;
                h2 {
                    color: $color-white;
                    font-family: $font-title;
                    font-size: 6.5rem;
                    margin: 3rem 0;
                }
                img {
                    width: 100%;
                }     
            }
        }
    } 
}

@media screen and (max-width: 1200px) {
    .tv__box__images {
        .img-contain {
            h2 {
                font-size: 5rem;
            }    
        }  
    } 
}

@media screen and (max-width: 1000px) {
    .tv__box__images {
        .img-contain {
            h2 {
                font-size: 4rem;
            }    
        }  
    }   
}

@media screen and (max-width: 768px) {
    .tv__box__images {
        grid-template-columns: 1fr 1fr;
        .img-contain {
            h2 {
                font-size: 4rem;
            }    
        }  
    }
}

@media screen and (max-width: 500px) {
    .tv__box__images {
        .img-contain {
            h2 {
                font-size: 3.5rem;
            }    
        }  
    }
}

@media screen and (max-width: 440px) {
    .tv__box__images {
        .img-contain {
            h2 {
                font-size: 3rem;
            }    
        }  
    }
}

@media screen and (max-width: 400px) {
    .tv__box__images {
        .img-contain {
            h2 {
                font-size: 2.5rem;
            }    
        }  
    }
}