.tv {
    @include sizes(100%, auto);
    background-color: $color-brown;
    padding: 2rem 2rem 6rem 2rem;
    &__box {
        @include flex;
        flex-direction: column;
        hr {
            border: 2px double $color-white;
            margin: 3rem 0;
            width: 50%;
        }
        &__images {
            @include grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            .img-contain {
                object-fit: cover;
                h2 {
                    color: $color-white;
                    font-family: $font-title;
                    font-size: 7rem;
                    margin: 3rem 0;
                }
                img {
                    width: 100%;
                }     
            }
               
        }
    } 
}